// Grid container
.rus-grid,
.rus-grid-full {
  @include outer-container();
  max-width: $site-max-width;
}

.rus-grid {
  @include padding(null $site-margins-mobile);

  @include media($medium-screen) {
    @include padding(null $site-margins);
  }
}

.rus-grid-full {
  padding: 0;
  text-decoration: none;/*убрать подчетркивание ссылок*/
}

// Grid items
@include media($medium) {
  .rus-width-one-whole {
    @include span-columns(6);
  }

  .rus-width-one-half {
    @include span-columns(3);
  }

  .rus-width-one-third {
    @include span-columns(2);
  }

  .rus-width-two-thirds {
    @include span-columns(4);
  }

  .rus-width-one-fourth {
    @include span-columns(3);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .rus-width-three-fourths {
    @include span-columns(6);
  }

  .rus-width-one-sixth {
    @include span-columns(2);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .rus-width-five-sixths {
    @include span-columns(4);
  }

  .rus-width-one-twelfth {
    @include span-columns(2);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .rus-width-five-twelfths {
    @include span-columns(2);
  }

  .rus-width-seven-twelfths {
    @include span-columns(4);
  }
}

@include media($large) {
  .rus-width-one-whole {
    @include span-columns(12);
  }

  .rus-width-one-half {
    @include span-columns(6);
  }

  .rus-width-one-third {
    @include span-columns(4);
  }

  .rus-width-two-thirds {
    @include span-columns(8);
  }

  .rus-width-one-fourth {
    @include span-columns(3);

    &:nth-child(2n) {
      @include span-columns(3);
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .rus-width-three-fourths {
    @include span-columns(9);
  }

  .rus-width-one-sixth {
    @include span-columns(2);

    &:nth-child(3n) {
      @include span-columns(2);
    }

    &:nth-child(6n) {
      margin-right: 0;
    }
  }

  .rus-width-five-sixths {
    @include span-columns(10);
  }


  .rus-width-one-twelfth {
    @include span-columns(1);

    &:nth-child(3n) {
      @include span-columns(1);
    }

    &:nth-child(12n) {
      margin-right: 0;
    }
  }

  .rus-width-five-twelfths {
    @include span-columns(5);
  }

  .rus-width-seven-twelfths {
    @include span-columns(7);
  }
}

// Specifies end of a row.
// Required if grid-box contains multiple rows.
// Required if browser does not support :last-child
.rus-end-row {
  @include omega();
}
.rus-grid a{
    text-decoration: none;
}/*убрать подчетркивание ссылок*/